*
!.github/
!.github/** 
!.gitignore
!.vscode/
!.vscode/**         
!README.md
!LICENSE
!cmakelists.txt
!cross-compile.sh
!src/
!src/*.h*
!src/*.cpp
!Effects/%
!jsfx/
!jsfx/**
!cross-compile.sh
!linux-dependencies.sh
